<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="resultatIndicateur">
      <h2 data-cy="resultatIndicateurDetailsHeading">
        <span jhiTranslate="newbetterflyApp.resultatIndicateur.detail.title">Resultat Indicateur</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ resultatIndicateur.id }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.resultatIndicateur.mois">Mois</span></dt>
        <dd>
          <span jhiTranslate="{{ 'newbetterflyApp.Mois.' + resultatIndicateur.mois }}">{{ resultatIndicateur.mois }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.resultatIndicateur.cible">Cible</span></dt>
        <dd>
          <span>{{ resultatIndicateur.cible }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.resultatIndicateur.resultat">Resultat</span></dt>
        <dd>
          <span>{{ resultatIndicateur.resultat }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.resultatIndicateur.resultIndicateurs">Result Indicateurs</span></dt>
        <dd>
          <div *ngIf="resultatIndicateur.resultIndicateurs">
            <a [routerLink]="['/result-indicateurs', resultatIndicateur.resultIndicateurs?.id, 'view']">{{
              resultatIndicateur.resultIndicateurs?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/resultat-indicateur', resultatIndicateur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
