<div>
  <h2 id="page-heading" data-cy="IndicateurSMIHeading">
    <span jhiTranslate="newbetterflyApp.indicateurSMI.home.title">Indicateur SMIS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="newbetterflyApp.indicateurSMI.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-indicateur-smi"
        [routerLink]="['/indicateur-smi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="newbetterflyApp.indicateurSMI.home.createLabel"> Create a new Indicateur SMI </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'newbetterflyApp.indicateurSMI.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="indicateurSMIS?.length === 0">
    <span jhiTranslate="newbetterflyApp.indicateurSMI.home.notFound">No indicateurSMIS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="indicateurSMIS && indicateurSMIS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateIdentification">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.dateIdentification">Date Identification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="indicateur">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.indicateur">Indicateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formuleCalcul">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.formuleCalcul">Formule Calcul</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cible">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.cible">Cible</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seuilTolerance">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.seuilTolerance">Seuil Tolerance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="unite">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.unite">Unite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="periodicite">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.periodicite">Periodicite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="responsableCalcul">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.responsableCalcul">Responsable Calcul</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observations">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.observations">Observations</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vigueur">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.vigueur">Vigueur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="processus.id">
            <span jhiTranslate="newbetterflyApp.indicateurSMI.processus">Processus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let indicateurSMI of indicateurSMIS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/indicateur-smi', indicateurSMI.id, 'view']">{{ indicateurSMI.id }}</a>
          </td>
          <td>{{ indicateurSMI.dateIdentification | formatMediumDate }}</td>
          <td>{{ indicateurSMI.indicateur }}</td>
          <td>{{ indicateurSMI.formuleCalcul }}</td>
          <td>{{ indicateurSMI.cible }}</td>
          <td>{{ indicateurSMI.seuilTolerance }}</td>
          <td>{{ indicateurSMI.unite }}</td>
          <td>{{ indicateurSMI.periodicite }}</td>
          <td>{{ indicateurSMI.responsableCalcul }}</td>
          <td>{{ indicateurSMI.observations }}</td>
          <td>{{ indicateurSMI.vigueur }}</td>
          <td>
            <div *ngIf="indicateurSMI.processus">
              <a [routerLink]="['/processus-smi', indicateurSMI.processus?.id, 'view']">{{ indicateurSMI.processus?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/indicateur-smi', indicateurSMI.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/indicateur-smi', indicateurSMI.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(indicateurSMI)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="indicateurSMIS && indicateurSMIS.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
