<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-besoin-pi-heading" data-cy="BesoinPICreateUpdateHeading" jhiTranslate="newbetterflyApp.besoinPI.home.createOrEditLabel">
        Create or edit a Besoin PI
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.dateIdentification" for="field_dateIdentification"
            >Date Identification</label
          >
          <div class="input-group">
            <input
              id="field_dateIdentification"
              data-cy="dateIdentification"
              type="text"
              class="form-control"
              name="dateIdentification"
              ngbDatepicker
              #dateIdentificationDp="ngbDatepicker"
              formControlName="dateIdentification"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateIdentificationDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.piPertinentes" for="field_piPertinentes"
            >Pi Pertinentes</label
          >
          <input
            type="text"
            class="form-control"
            name="piPertinentes"
            id="field_piPertinentes"
            data-cy="piPertinentes"
            formControlName="piPertinentes"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.pertinente" for="field_pertinente">Pertinente</label>
          <input
            type="checkbox"
            class="form-check"
            name="pertinente"
            id="field_pertinente"
            data-cy="pertinente"
            formControlName="pertinente"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.priseEnCharge" for="field_priseEnCharge"
            >Prise En Charge</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="priseEnCharge"
            id="field_priseEnCharge"
            data-cy="priseEnCharge"
            formControlName="priseEnCharge"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.afficher" for="field_afficher">Afficher</label>
          <input type="checkbox" class="form-check" name="afficher" id="field_afficher" data-cy="afficher" formControlName="afficher" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.besoinPI.processus" for="field_processus">Processus</label>
          <select class="form-control" id="field_processus" data-cy="processus" name="processus" formControlName="processus">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                processusSMIOption.id === editForm.get('processus')!.value?.id ? editForm.get('processus')!.value : processusSMIOption
              "
              *ngFor="let processusSMIOption of processusSMISSharedCollection; trackBy: trackProcessusSMIById"
            >
              {{ processusSMIOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
