<div>
  <h2 id="page-heading" data-cy="ReclamationHeading">
    <span jhiTranslate="newbetterflyApp.reclamation.home.title">Reclamations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="newbetterflyApp.reclamation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reclamation"
        [routerLink]="['/reclamation-own/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="newbetterflyApp.reclamation.home.createLabel"> Create a new Reclamation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'newbetterflyApp.reclamation.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="reclamations?.length === 0">
    <span jhiTranslate="newbetterflyApp.reclamation.home.notFound">No reclamations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reclamations && reclamations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="newbetterflyApp.reclamation.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="newbetterflyApp.reclamation.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="justifiee">
            <span jhiTranslate="newbetterflyApp.reclamation.justifiee">Justifiee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="client">
            <span jhiTranslate="newbetterflyApp.reclamation.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="piecejointe">
            <span jhiTranslate="newbetterflyApp.reclamation.piecejointe">Piecejointe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="origine">
            <span jhiTranslate="newbetterflyApp.reclamation.origine">Origine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="action.id">
            <span jhiTranslate="newbetterflyApp.reclamation.action">Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delegue.id">
            <span jhiTranslate="newbetterflyApp.reclamation.delegue">Delegue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="processus.id">
            <span jhiTranslate="newbetterflyApp.reclamation.processus">Processus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reclamation of reclamations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reclamation', reclamation.id, 'view']">{{ reclamation.id }}</a>
          </td>
          <td>{{ reclamation.date | formatMediumDate }}</td>
          <td>{{ reclamation.description }}</td>
          <td>{{ reclamation.justifiee }}</td>
          <td>{{ reclamation.client }}</td>
          <td>
            <a
              *ngIf="reclamation.piecejointe"
              (click)="openFile(reclamation.piecejointe, reclamation.piecejointeContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="reclamation.piecejointe">{{ reclamation.piecejointeContentType }}, {{ byteSize(reclamation.piecejointe) }}</span>
          </td>
          <td>{{ reclamation.origine }}</td>
          <td>
            <div *ngIf="reclamation.action">
              <a [routerLink]="['/action', reclamation.action?.id, 'view']">{{ reclamation.action?.id }}</a>
            </div>
          </td>
          <td>
            {{ reclamation.delegue?.id }}
          </td>
          <td>
            <div *ngIf="reclamation.processus">
              <a [routerLink]="['/processus-smi', reclamation.processus?.id, 'view']">{{ reclamation.processus?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reclamation', reclamation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reclamation', reclamation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reclamation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reclamations && reclamations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
