<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="autreAction">
      <h2 data-cy="autreActionDetailsHeading"><span jhiTranslate="newbetterflyApp.autreAction.detail.title">Autre Action</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ autreAction.id }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.autreAction.origineAction">Origine Action</span></dt>
        <dd>
          <span>{{ autreAction.origineAction }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.autreAction.origine">Origine</span></dt>
        <dd>
          <span>{{ autreAction.origine }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.autreAction.action">Action</span></dt>
        <dd>
          <div *ngIf="autreAction.action">
            <a [routerLink]="['/action', autreAction.action?.id, 'view']">{{ autreAction.action?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.autreAction.delegue">Delegue</span></dt>
        <dd>
          <span>{{ autreAction.delegue?.id }}</span>
        </dd>
        <dt><span jhiTranslate="newbetterflyApp.autreAction.processus">Processus</span></dt>
        <dd>
          <div *ngIf="autreAction.processus">
            <a [routerLink]="['/processus-smi', autreAction.processus?.id, 'view']">{{ autreAction.processus?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/autre-action', autreAction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
