<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-constat-audit-heading"
        data-cy="ConstatAuditCreateUpdateHeading"
        jhiTranslate="newbetterflyApp.constatAudit.home.createOrEditLabel"
      >
        Create or edit a Constat Audit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'newbetterflyApp.TypeConstatAudit.null' | translate }}</option>
            <option value="PF">{{ 'newbetterflyApp.TypeConstatAudit.PF' | translate }}</option>
            <option value="RA">{{ 'newbetterflyApp.TypeConstatAudit.RA' | translate }}</option>
            <option value="PS">{{ 'newbetterflyApp.TypeConstatAudit.PS' | translate }}</option>
            <option value="NC">{{ 'newbetterflyApp.TypeConstatAudit.NC' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.constat" for="field_constat">Constat</label>
          <input type="text" class="form-control" name="constat" id="field_constat" data-cy="constat" formControlName="constat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.origine" for="field_origine">Origine</label>
          <input type="text" class="form-control" name="origine" id="field_origine" data-cy="origine" formControlName="origine" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.action" for="field_action">Action</label>
          <select class="form-control" id="field_action" data-cy="action" name="action" formControlName="action">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="actionOption.id === editForm.get('action')!.value?.id ? editForm.get('action')!.value : actionOption"
              *ngFor="let actionOption of actionsSharedCollection; trackBy: trackActionById"
            >
              {{ actionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.delegue" for="field_delegue">Delegue</label>
          <select class="form-control" id="field_delegue" data-cy="delegue" name="delegue" formControlName="delegue">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('delegue')!.value?.id ? editForm.get('delegue')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.processus" for="field_processus">Processus</label>
          <select class="form-control" id="field_processus" data-cy="processus" name="processus" formControlName="processus">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                processusSMIOption.id === editForm.get('processus')!.value?.id ? editForm.get('processus')!.value : processusSMIOption
              "
              *ngFor="let processusSMIOption of processusSMISSharedCollection; trackBy: trackProcessusSMIById"
            >
              {{ processusSMIOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.constatAudit.audit" for="field_audit">Audit</label>
          <select class="form-control" id="field_audit" data-cy="audit" name="audit" formControlName="audit">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="auditOption.id === editForm.get('audit')!.value?.id ? editForm.get('audit')!.value : auditOption"
              *ngFor="let auditOption of auditsSharedCollection; trackBy: trackAuditById"
            >
              {{ auditOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
