<div>
  <h2 id="page-heading" data-cy="ObligationConformiteHeading">
    <span jhiTranslate="newbetterflyApp.obligationConformite.home.title">Obligation Conformites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="newbetterflyApp.obligationConformite.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-obligation-conformite"
        [routerLink]="['/obligation-conformite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="newbetterflyApp.obligationConformite.home.createLabel">
          Create a new Obligation Conformite
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'newbetterflyApp.obligationConformite.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="obligationConformites?.length === 0">
    <span jhiTranslate="newbetterflyApp.obligationConformite.home.notFound">No obligationConformites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="obligationConformites && obligationConformites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="newbetterflyApp.obligationConformite.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rubrique">
            <span jhiTranslate="newbetterflyApp.obligationConformite.rubrique">Rubrique</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reference">
            <span jhiTranslate="newbetterflyApp.obligationConformite.reference">Reference</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="num">
            <span jhiTranslate="newbetterflyApp.obligationConformite.num">Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exigence">
            <span jhiTranslate="newbetterflyApp.obligationConformite.exigence">Exigence</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="applicable">
            <span jhiTranslate="newbetterflyApp.obligationConformite.applicable">Applicable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conforme">
            <span jhiTranslate="newbetterflyApp.obligationConformite.conforme">Conforme</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut">
            <span jhiTranslate="newbetterflyApp.obligationConformite.statut">Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observation">
            <span jhiTranslate="newbetterflyApp.obligationConformite.observation">Observation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="origine">
            <span jhiTranslate="newbetterflyApp.obligationConformite.origine">Origine</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="action.id">
            <span jhiTranslate="newbetterflyApp.obligationConformite.action">Action</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delegue.id">
            <span jhiTranslate="newbetterflyApp.obligationConformite.delegue">Delegue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="processus.id">
            <span jhiTranslate="newbetterflyApp.obligationConformite.processus">Processus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obligationConformite of obligationConformites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/obligation-conformite', obligationConformite.id, 'view']">{{ obligationConformite.id }}</a>
          </td>
          <td>{{ obligationConformite.date | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'newbetterflyApp.Rubrique.' + obligationConformite.rubrique }}">{{ obligationConformite.rubrique }}</td>
          <td>{{ obligationConformite.reference }}</td>
          <td>{{ obligationConformite.num }}</td>
          <td>{{ obligationConformite.exigence }}</td>
          <td>{{ obligationConformite.applicable }}</td>
          <td>{{ obligationConformite.conforme }}</td>
          <td>{{ obligationConformite.statut }}</td>
          <td>{{ obligationConformite.observation }}</td>
          <td>{{ obligationConformite.origine }}</td>
          <td>
            <div *ngIf="obligationConformite.action">
              <a [routerLink]="['/action', obligationConformite.action?.id, 'view']">{{ obligationConformite.action?.id }}</a>
            </div>
          </td>
          <td>
            {{ obligationConformite.delegue?.id }}
          </td>
          <td>
            <div *ngIf="obligationConformite.processus">
              <a [routerLink]="['/processus-smi', obligationConformite.processus?.id, 'view']">{{ obligationConformite.processus?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/obligation-conformite', obligationConformite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/obligation-conformite', obligationConformite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(obligationConformite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="obligationConformites && obligationConformites.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
