<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reclamation-heading"
        data-cy="ReclamationCreateUpdateHeading"
        jhiTranslate="newbetterflyApp.reclamation.home.createOrEditLabel"
      >
        Create or edit a Reclamation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.justifiee" for="field_justifiee">Justifiee</label>
          <input type="checkbox" class="form-check" name="justifiee" id="field_justifiee" data-cy="justifiee" formControlName="justifiee" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.client" for="field_client">Client</label>
          <input type="text" class="form-control" name="client" id="field_client" data-cy="client" formControlName="client" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.piecejointe" for="field_piecejointe"
            >Piecejointe</label
          >
          <div>
            <div *ngIf="editForm.get('piecejointe')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-left"
                (click)="openFile(editForm.get('piecejointe')!.value, editForm.get('piecejointeContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('piecejointeContentType')!.value }}, {{ byteSize(editForm.get('piecejointe')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ piecejointe: null }); editForm.patchValue({ piecejointeContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_piecejointe"
              data-cy="piecejointe"
              (change)="setFileData($event, 'piecejointe', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="piecejointe"
            id="field_piecejointe"
            data-cy="piecejointe"
            formControlName="piecejointe"
          />
          <input
            type="hidden"
            class="form-control"
            name="piecejointeContentType"
            id="field_piecejointeContentType"
            formControlName="piecejointeContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.origine" for="field_origine">Origine</label>
          <input type="text" class="form-control" name="origine" id="field_origine" data-cy="origine" formControlName="origine" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.action" for="field_action">Action</label>
          <select class="form-control" id="field_action" data-cy="action" name="action" formControlName="action">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="actionOption.id === editForm.get('action')!.value?.id ? editForm.get('action')!.value : actionOption"
              *ngFor="let actionOption of actionsSharedCollection; trackBy: trackActionById"
            >
              {{ actionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.delegue" for="field_delegue">Delegue</label>
          <select class="form-control" id="field_delegue" data-cy="delegue" name="delegue" formControlName="delegue">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('delegue')!.value?.id ? editForm.get('delegue')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="newbetterflyApp.reclamation.processus" for="field_processus">Processus</label>
          <select class="form-control" id="field_processus" data-cy="processus" name="processus" formControlName="processus">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                processusSMIOption.id === editForm.get('processus')!.value?.id ? editForm.get('processus')!.value : processusSMIOption
              "
              *ngFor="let processusSMIOption of processusSMISSharedCollection; trackBy: trackProcessusSMIById"
            >
              {{ processusSMIOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
